<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="QueryRemoteJobsTimer" value="4"/>
		<add key="BaseURI" value="https://api.example.com/print-jobs/"/>
		<add key="Token" value="example_token"/>
		<add key="Printer" value="printer_name"/>
		<add key="PrintCopies" value="1"/>
		<add key="PaperSize" value="Letter"/>
	</appSettings>
</configuration>